schemas/xsd/pain.002.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
    xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CstmrPmtStsRpt" type="CstmrPmtStsRpt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CstmrPmtStsRpt">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader"/>
      <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformationAndStatus"/>
      <xs:element name="TxInfAndSts" type="PaymentTransactionInformationAndStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GroupHeader">
    <xs:sequence>
      <xs:element name="MsgId" type="xs:string"/>
      <xs:element name="CreDtTm" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OriginalGroupInformationAndStatus">
    <xs:sequence>
      <xs:element name="OrgnlMsgId"   type="xs:string"/>
      <xs:element name="OrgnlMsgNmId" type="xs:string"/>
      <xs:element name="OrgnlNbOfTxs" type="xs:string"/>
      <xs:element name="OrgnlCtrlSum" type="xs:decimal"/>
      <xs:element name="GrpSts"       type="TransactionGroupStatusCode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TransactionGroupStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCP"/>
      <xs:enumeration value="ACSC"/>
      <xs:enumeration value="ACSP"/>
      <xs:enumeration value="ACWC"/>
      <xs:enumeration value="ACWP"/>
      <xs:enumeration value="RJCT"/>
      <xs:enumeration value="CANC"/>
      <xs:enumeration value="PDNG"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PaymentTransactionInformationAndStatus">
    <xs:sequence>
      <xs:element name="OrgnlInstrId"      type="xs:string"/>
      <xs:element name="OrgnlEndToEndId"    type="xs:string"/>
      <xs:element name="TxSts"              type="TransactionIndividualStatusCode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TransactionIndividualStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCP"/>
      <xs:enumeration value="ACSC"/>
      <xs:enumeration value="ACSP"/>
      <xs:enumeration value="ACTC"/>
      <xs:enumeration value="ACWC"/>
      <xs:enumeration value="ACWP"/>
      <xs:enumeration value="PDNG"/>
      <xs:enumeration value="RJCT"/>
      <xs:enumeration value="CANC"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
