schemas/pain.001.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
           elementFormDefault="qualified">

  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CstmrCdtTrfInitn">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MsgId" type="xs:string"/>
                    <xs:element name="CreDtTm" type="xs:dateTime"/>
                    <xs:element name="NbOfTxs" type="xs:string"/>
                    <xs:element name="CtrlSum" type="xs:decimal"/>
                    <xs:element name="InitgPty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="PmtInf" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PmtInfId" type="xs:string"/>
                    <xs:element name="PmtMtd" type="xs:string"/>
                    <xs:element name="BtchBookg" type="xs:boolean"/>
                    <xs:element name="NbOfTxs" type="xs:string"/>
                    <xs:element name="CtrlSum" type="xs:decimal"/>
                    <xs:element name="PmtTpInf" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SvcLvl">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LclInstrm" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CtgyPurp" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Dbtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string"/>
                          <xs:element name="PstlAdr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StrtNm" type="xs:string"/>
                                <xs:element name="TwnNm" type="xs:string"/>
                                <xs:element name="Ctry" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DbtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IBAN" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtTrfTxInf" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PmtId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="EndToEndId" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Amt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InstdAmt">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="Ccy" type="xs:string" use="required"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Cdtr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Nm" type="xs:string"/>
                                <xs:element name="PstlAdr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="StrtNm" type="xs:string"/>
                                      <xs:element name="TwnNm" type="xs:string"/>
                                      <xs:element name="Ctry" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CdtrAcct">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="IBAN" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CdtrAgt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FinInstnId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BIC" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RmtInf">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Strd" minOccurs="0" type="xs:string"/>
                                <xs:element name="Ustrd" minOccurs="0" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
